@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Top section begins */
.top{
    background-color: #1F2937;
    height: 500px;
}

.headline{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 1.2;
}

.tagline {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 200px;
    margin-top: 16px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
    margin-right: 125px;
}

.signup {
    text-decoration: none;
    color: white;
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: bold;
    
}

img{
    margin-left: 32px;
}

li{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 16px;
    
}

.row1{
    display: flex;
    justify-content: space-between;
    
}

.mid-content {
    display: flex;
    margin-left: 200px;
    margin-top: 100px;
}
/* Section 2 begins */
.info{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 50px 0;
}

.section2{
    height: 400px;
}


.section2-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.photo-info{
    max-width: 300px;
}


.subtext{
    font-size: 18px;
    text-align: center;
}

.illustration{
    width: 240px;
    height: 150px;
}
/* Section 3 begins */

.section3{
    background-color: #E5E7EB;
    height: 300px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.testimonial{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    line-height: 1.2;
    max-width: 800px;
    
}

.client-name{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    font-style: normal;
}

/* Section 4 begins */

.section4{
    height: 300px;
    display: flex;
    justify-content: center;
}

.cta-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.cta-text {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 40px 100px;
    padding-right: 150px;
    border-radius: 8px;

}

a.cta-signup{
    text-decoration: none;
    color: white;
    background-color: #3882F6;
    padding: 4px 32px;
    border: 2px white solid;
    border-radius: 8px;
    font-weight: bold;
    margin-left: 150px;
}

.cta{
    font-size: 24px;
    font-weight: bold;
}

.cta-subtext{
    color: #E5E7EB;
}

.footer{
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}
