@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.top{
    background-color: #1F2937;
    height: 500px;
}

.headline{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}

.tagline {
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Poppins', sans-serif;
    margin-left: 200px;
    margin-top: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
    margin-right: 125px;
}

.signup {
    text-decoration: none;
    color: white;
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    
}

img{
    margin-left: 32px;
}

li{
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Poppins', sans-serif;
    margin-top: 16px;
    
}

.row1{
    display: flex;
    justify-content: space-between;
    
}

.mid-content {
    display: flex;
    margin-left: 200px;
    margin-top: 100px;
}

.info{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 50px 0;
}

.section2-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.photo-info{
    max-width: 300px;
}

.info{

}


.subtext{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.illustration{
    width: 240px;
    height: 150px;
}